const firebaseConfig = {
  apiKey: "AIzaSyDXaVWfJ2IE11RIg0v3Yt7tJDrlsCwPQjM",
  authDomain: "laundry-1ac38.firebaseapp.com",
  projectId: "laundry-1ac38",
  storageBucket: "laundry-1ac38.appspot.com",
  messagingSenderId: "666930076838",
  appId: "1:666930076838:web:f802f024028296f5406867",
  measurementId: "G-6SK37NHYB0"
};
